.selected {
  background-color: brown;
}

.rooms {
  height: 100%;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.chat-container {
  border: 2px solid black;
  width: 90%;
  height: 80%;
  margin: 2% auto;
}
