@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Martel:wght@200&display=swap');
* {
  font-family: 'Martel', 'M PLUS Rounded 1c', serif;
}

body {
  margin: 0;
  background-color: rgb(182, 221, 255);
}

.logo {
  text-decoration: none;
}
